*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/assets/fm_ip/line_1_fm.json
/app/src/main/assets/fm_ip/line_2_fm.json
/app/src/main/assets/fm_ip/line_3_fm.json
/app/src/main/assets/fm_ip/line_4_fm.json
/app/src/main/assets/fm_ip/line_5_fm.json
/domain/src/main/java/com/rundgrun/watchermobile/domain/connections/Utils.kt